{% extends 'company/base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <div class="mt-5">
        <div class="container text-center">
            <h1 class="mb-4">Create new Company</h1>
        </div>
        <div class="row mb-3 justify-content-end">
            <div class="col">
                <a href="{{ path('company_index') }}" class="btn btn-secondary btn-block btn-sm">
                    <i class="fas fa-chevron-left"></i> Back to List
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {{ include('company/include/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}