{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-center align-items-center mt-3">
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> {{ button_label|default('Save') }}
    </button>
</div>
{{ form_end(form) }}



